.mainBox {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topBox {
    display: flex;
    justify-content: space-between;
}

.leftBox {
    background-color: white;
    width: 65vw;
}

.rightBox {
    background-image: url('oticonmoreblack.png');
    background-repeat: no-repeat;
    width: 35vw;
}

.botBox {
    background-color: #19191A;
    height: 25%;
}

.offerHead {
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.2;
    margin: 0% 15% 0% 15%;
}

.offerLine {
    font-size: 24px;
    font-weight: bold;
    margin: 2% 15% 3% 15%;
}

.offerText {
    font-size: 1.25em;
    margin: 0 15% 0% 15%;
}

.offerButton {
    font-size: 1.25em;
    margin: 5% 15% 8% 15%;
    padding: 11.2px 28px 14px;
    width: 25%;
    text-align: center;
    color: white;
    background-color: #C6168C;
}

.offerButton:hover {
    background-color:#EA53B9;
}

.logoImg {
    margin: 5% 15%;
}

img {
    height: 2.5em;
}

@media only screen and (max-width: 1000px) {

    img {
        height: 1.75em;
    }

    .offerHead { 
       font-size: 2em; 
    }

    .offerLine {
        font-size: 18px;
    }

    .offerText {
        font-size: 1em;
    }

    .offerButton {
        font-size: 1em;
        padding: 8px 24px 10px;
    }
    
    .rightBox {
        opacity: 0%;
    }
 }