.mainBox {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topBox {
    display: flex;
    height: 75vh;
}

.leftBox {
    background-color: white;
    width: 50vw;
}

.rightBox {
    background-image: url('earpic.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50vw;
}

.botBox {
    background-color: #19191A;
    height: 25vh;
}

.offerHead {
    font-size: 48px;
    font-weight: bolder;
    margin: 5% 15%;
}

.offerText {
    font-size: 20px;
    margin: 0 15%;
}

.offerButton {
    font-size: 20px;
    margin: 5% 15%;
    padding: 11.2px 28px 14px;
    width: 25%;
    text-align: center;
    color: white;
    background-color: #C6168C;
}

.offerButton:hover {
    background-color:#EA53B9;
}

.logoImg {
    margin: 5% 15%;
}

img {
    height: 40px;
}
